@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size:50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.home-box{
  border-radius: 50%;
}
@keyframes black-to-white{
  from {background-color: black;}
  to {background-color: white;}
}
.home-box-open{
  animation-name:black-to-white;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}